body {
    margin: 50px;
}
h1, h2, h3 {
    text-align:center;
}
h1 {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}
h2 {
    font-size: 0.7em;
    font-weight: lighter;
    color: rgb(138, 124, 124);
}
.author_name {
    font-size: 1.25em;
}
h3 {
    color: black;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p {
    margin-top:0px;
}
.news {
    width:66%;
    margin:auto;
}
.coms_options {
    text-decoration: none;
    color: rgb(88, 84, 81);
    font-size: 0.8em;
}
.coms_options:hover {
    background-color: rgb(221, 216, 212);
}
.coms_date, .admin_creation_date_post {
    font-size: 0.85em;
    color: rgb(88, 84, 81);
    font-weight: lighter;
}
.admin_login, .admin_logout {
    font-size: 0.8em;
    text-align: right;
}
.admin_options {
    font-size: 1.1em;
    text-align: center;
    margin-top: 150px;
}
.option_login, .option_newchapter, .option_logout, .admin_edit_chapter, .option_admin_area {
    text-decoration: none;
    color: rgb(88, 84, 81);
}
.admin_newchapter, .admin_edit, .admin_coms_mod{
    padding: 15px;
    width: 495px;
    margin: auto;
}
.admin_newchapter {
    border: dashed rgb(88, 84, 81);
}
.admin_edit {
    margin-top: 45px;
    margin-bottom: 15px;
}
.admin_newchapter:hover, .chapter_list_admin:hover, .admin_coms_mod:hover {
    background-color: rgb(221, 216, 212);
    transition: 0.2s;
}
.admin_delete {
    color: rgb(235, 79, 79);
    text-decoration: none;
    font-size: 1.5em;
    padding-left: 15px;
}
.last_chapter {
    text-align: center;
    font-size: 0.95em;
}
.admin_edit_chapter {
    font-size: 1.25em;
    font-weight: bold;
    padding-left: 15px;
}
.admin_title_post {
    font-size: 1.1em;
    width: 150px;
    font-weight: bold;
    text-align: center;
}
.title_post {
    font-size: 1.5em;
}
.chapter_list_admin {
    display: flex;
    font-size: 0.85em;
    align-items: center;
    width: 575px;
    margin: auto;
    border-left: solid 2px rgb(88, 84, 81);
    border-right: solid 2px rgb(88, 84, 81);
    border-bottom: solid 2px rgb(88, 84, 81);
}
.admin_creation_date_post {
    width: 135px;
    padding: 15px;
    font-style: italic;
}
.creation_date_post {
    font-style: italic;
    font-size: 0.85em;
    color: rgb(88, 84, 81);
    font-weight: lighter;
}
.admin_coms_mod {
    width: 495px;
    margin-top: 45px;
    border-top: solid 2px rgb(88, 84, 81);
    border-left: solid 2px rgb(88, 84, 81);
    border-right: solid 2px rgb(88, 84, 81);
}
.edit_uturn {
    text-decoration: none;
    font-size: 0.9em;
    color: rgb(88, 84, 81);
}