h1 {
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
h2 {
    font-size: 1.25em;
    font-weight: lighter;
    color: rgb(138, 124, 124);
    margin-top: 50px;
    margin-bottom: 50px;
}
.author_name {
    font-size: 1.25em;
}
h3 {
    color: black;
    font-size:1.1em;
    margin-bottom:0px;
    text-align: center;
}
.news p {
    margin-top:0px;
}
.news {
    width:66%;
    margin:auto;
}
.top_options {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
}
.back_option {
    color: rgb(150, 82, 82);
    font-size: 1.1em;
    padding-left: 2.5%;
}
.main_part {
    padding-left: 100px;
    padding-right: 100px;
}
.coms_options {
    text-decoration: none;
    color: rgb(88, 84, 81);
    font-size: 0.95em;
}
.coms_options:hover {
    background-color: rgb(221, 216, 212);
}
.coms_date, .admin_creation_date_post {
    font-size: 0.85em;
    color: rgb(88, 84, 81);
    font-weight: lighter;
}
.admin_login, .admin_logout {
    text-align: right;
    font-size: 1.1em;
}
.admin_area {
    font-size: 1.5em;
}
.admin_options {
    font-size: 1.1em;
    text-align: center;
    margin-top: 150px;
}
.reset_report {
    color: rgb(128, 128, 128);
}
.option_login, .option_newchapter, .option_logout, .admin_edit_chapter, .option_admin_area {
    color: rgb(88, 84, 81);
}
.admin_newchapter, .admin_edit, .admin_coms_mod{
    padding: 15px;
    width: 495px;
    margin: auto;
}
.coms_flag_count {
    color: rgb(218, 145, 86);
    font-size: 0.75em;
}
.admin_newchapter {
    border: dashed rgb(88, 84, 81);
}
.admin_edit {
    margin-top: 45px;
    margin-bottom: 15px;
}
.admin_newchapter:hover, .chapter_list_admin:hover, .admin_coms_mod:hover {
    background-color: rgb(221, 216, 212);
    transition: 0.2s;
}
.admin_delete_chapter {
    padding-left: 25px;
}
.admin_delete {
    color: rgb(235, 79, 79);
    text-decoration: none;
    font-size: 0.85em;
    padding-left: 15px;
}
.last_chapter {
    text-align: center;
    font-size: 0.95em;
}
.admin_edit_chapter {
    font-size: 1.25em;
    font-weight: bold;
    padding-left: 15px;
}
.admin_title_post {
    font-size: 1.1em;
    width: 150px;
    font-weight: bold;
    text-align: center;
}
.title_post {
    font-size: 1.5em;
}
.chapter_list_admin {
    display: flex;
    font-size: 0.85em;
    align-items: center;
    width: 550px;
    margin: auto;
    border-left: solid 2px rgb(88, 84, 81);
    border-right: solid 2px rgb(88, 84, 81);
    border-bottom: solid 2px rgb(88, 84, 81);
}
.admin_creation_date_post {
    width: 135px;
    padding: 15px;
    font-style: italic;
}
.creation_date_post {
    font-style: italic;
    font-size: 0.85em;
    color: rgb(88, 84, 81);
    font-weight: lighter;
}
.admin_coms_mod {
    width: 495px;
    margin-top: 45px;
    border-top: solid 2px rgb(88, 84, 81);
    border-left: solid 2px rgb(88, 84, 81);
    border-right: solid 2px rgb(88, 84, 81);
}
.edit_uturn {
    text-decoration: none;
    font-size: 0.9em;
    color: rgb(88, 84, 81);
}